@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
$MainFont : 'Josefin Sans', sans-serif;


.wrapper {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body, * {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

[class*=_container] {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 15px;
}

// HEADER 

@import '../components/App/Header/_header';

// MODAL WINDOW

@import '../components/App/Header/Modal/_modalCity';

// MAIN

@import '../components/App/Main/_main';

// FOOTER

@import '../components/App/Footer/_footer';


// DOCTOR APPOINTMENT SECTION

@import '../components/App/DoctorAppointment/_doctorAppointment';

// DOCTOR APPOINTMENT FORM

@import '../components/App/DoctorAppointment/AppoinmentForm/_appoinmentForm';

// COMPANY HISTORY

@import '../components/App/CompStory/_compStory';

// COLLECTIVE 

@import '../components/App/Collective/_collective';

// SPECIALISR PAGE 

@import '../components/App/Collective/SpecialistPage/_specialistPage';

// BLOG

@import '../components/App/Blog/_blog';

// NEWS 

@import '../components/App/News/_news';

.hide {
    display: none;
}

.show {
    display: flex;
}